@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #25283D;
  color: #EFD9CE;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  color: #25283D;
}

.no-context-example {
  border-color: #8F3985;
}

.yes-context-example {
  border-color: #07BEB8;
}